[Unit]
Description=ACCVI Internal Dashboard
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/accvi-5040-hut/internal_dashboard
ExecStart=./main.py
Restart=always

[Install]
WantedBy=multi-user.target
